<div class="login">
    <div class="card-body">
    <div class="form">
    <h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
    <%= f.text_field :name, {class: "form-control", placeholder: "Name"}  %>
    <%= f.email_field :email, {class: "form-control", placeholder: "Email"}  %>
    <%= f.password_field :password, {class: "form-control", placeholder: "Password"} %>
    <%= f.text_field :address,{class: "form-control", placeholder: "Address"}  %>
    <%= f.submit "Create an account", class: "btn-submit" %>
    <% end %>
    </div>
    </div>
</div>


