<!-- <ul>
<% @events.each do |event| %>
    <li><%= event.name %></li>
<% end %>
</ul> -->
<nav class="nav" >
  <% @categories.each do |c| %>
  <div>
  <a href="/events/filter/<%= c.id %>"><%= c.category %></a>
  </div>
  <% end %>
</nav>
<div class="event" >
<table class="table" >
  <tr>
    <th>Event</th>
    <th colspan="4" >Actions</th>
  </tr>
<% @events.each do |event| %>
    <tr>
        <td><%= link_to event.name, user_event_path(@user, event) %></td>
        <% if @user.events .include?(event)%>
          <td><span><a href="/events/enroll/<%= event.id %>" >enrolled</a></span></td>
        <% else %>
          <td><span><a href="/events/enroll/<%= event.id %>" >enroll</a></span></td>
        <% end %>
        <td><%= link_to "Edit", edit_user_event_path(@user, event) %></td>
        <td><%= link_to "Destroy", user_event_path(@user, event), data: {
         turbo_method: :delete,
         turbo_confirm: "Are you sure?"
         } %></td>
        <td><%= form_with model: @comment, url: user_comments_path do |form| %>
          <%= form.text_field :comment_name, {class: "form-control", placeholder: "Comment"}%>
          <%= form.hidden_field :event_id, value: event.id %>
          <%= form.submit %>
        <% end %>
        </td>
    </tr>
<% end %>
</table>
</div>

